#categories {
    float: left;
    width: 8em;
    padding: 0.3em;
}

#categories a {
    font: bold 1.1em "Arial Narrow", "Franclin Gothic Medium", Arial;
    display: block;
    text-decoration: none;
    padding: 0.6em;
    color: black;
    border-bottom: 1px solid silver;
}

#categories a.selected {
    background-color: #777;
    color: white;
}

#categories a:hover {
    background-color: #CCC;
}

#categories a.selected:hover {
    background-color: #777;
}
