body {
    font-family: Cambria, Georgia, "Times New Roman";
    margin: 0;
}

#header .title, .item h3, .item h4, .pager a {
    font: bold 1em "Arial Narrow", "Franclin Gothic Medium", Arial;
}

#header {
    background-color: #444;
    border-bottom: 2px solid #111;
    color: white;
}

#header .title {
    font-size: 2em;
    padding: 0.6em;
}

#content {
    border-left: 2px solid gray;
    margin-left: 9em;
    padding: 1em;
}



#categories {
    float: left;
    width: 8em;
    padding: 0.3em;
}

#categories a {
    font: bold 1.1em "Arial Narrow", "Franclin Gothic Medium", Arial;
    display: block;
    text-decoration: none;
    padding: 0.6em;
    color: black;
    border-bottom: 1px solid silver;
}

#categories a.selected {
    background-color: #777;
    color: white;
}

#categories a:hover {
    background-color: #CCC;
}

#categories a.selected:hover {
    background-color: #777;
}



.item {
    border-top: 1px dotted gray;
    padding-top: 0.7em;
    margin-bottom: 0.7em;
}

.item:first-child {
    border-top: none;
    padding-top: 0;
}

.item h3 {
    font-size: 1.3em;
    margin: 0 0 0.25em 0;
}

.item h4 {
    font-size: 1.1em;
    margin: 0.4em 0 0 0;
}

.item button {
    background-color: #333;
    color: white;
    border: 1px solid black;
    float: right;
    border-radius: 5px;
}

.item button:hover {
    background-color: gray;
    border: 1px solid gray;
}



.pager {
    text-align: right;
    border-top: 2px solid silver;
    padding: 0.5em 0 0 0;
    margin-top: 1em;
}

.pager a {
    font-size: 1.1em;
    color: #777;
    text-transform: none;
    padding: 0 0.4em 0 0.4em;
}

.pager a:hover {
    background-color: silver;
}

.pager a.selected {
    background-color: #353535;
    color: white;
}